<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="~{web/layout}"><!-- layout文件路径-->
<head>
    <title>浪潮集团HR共享服务中心微信预约系统</title>
    <!-- BEGIN PAGE LEVEL PLUGINS -->
    <!-- END PAGE LEVEL PLUGINS -->
    <!-- BEGIN PAGE LEVEL SCRIPTS -->
    <script th:src="@{../../../assets/pages/scripts/md5.js}" type="text/javascript"></script>
    <script th:src="@{../../../assets/pages/scripts/user/password.js}" type="text/javascript"></script>
    <!-- END PAGE LEVEL SCRIPTS -->
</head>
<body>
<div layout:fragment="content">
    <div class="portlet light bordered">
        <div class="caption">
            <i class="icon-social-dribbble font-green"></i>
            <span class="caption-subject font-green bold uppercase">修改密码</span>
        </div>

    </div>
    <div class="portlet light bordered" style="margin-top: -35px">
        <div class="portlet-body">
            <div class="row">
                <div class="col-md-offset-3 col-md-6">
                    <form class="password-form form-horizontal" role="form">
                        <div class="form-body">
                            <div class="form-group">
                                <label class="col-md-2 control-label">原密码<span class="required"> * </span></label>
                                <div class="col-md-9">
                                    <input type="password" class="form-control" placeholder="原密码" name="oldpasswd" id="oldpasswd" maxlength="12">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-2 control-label">新密码<span class="required"> * </span></label>
                                <div class="col-md-9">
                                    <input type="password" class="form-control" placeholder="新密码" name="newpasswd1" id="newpasswd1" maxlength="12">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-2 control-label">确认密码<span class="required"> * </span></label>
                                <div class="col-md-9">
                                    <input type="password" class="form-control" placeholder="确认密码" name="newpasswd2" maxlength="12">
                                </div>
                            </div>

                        </div>
                    </form>
                    <div class="form-actions">
                        <div class="row">
                            <div class="col-md-offset-5 col-md-9">
                                <button class="btn blue" id="password_modify">确认</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
