<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qd.wxyy.wx.query.QueryRepository">

    <select id="queryData" parameterType="String" resultType="Map">
        SELECT
             id as orderid
            ,openid
            ,CONCAT(
                left(yyrq,4), '-', substring(yyrq,5,2), '-', right(yyrq,2),
                ' ', left(yykssj, 2), ':', right(yykssj, 2)
                ) as ordertime
            ,ywfl2 as businame
            ,CASE
                WHEN sfqx = '1' THEN '1'
                WHEN sfqh = '1' THEN '2'
                WHEN sfgq = '1' THEN '3'
             ELSE
                '0'
             END as status
        FROM
            yy_ls
        WHERE
            openid = #{openid}
        ORDER BY
            yyrq desc, yykssj desc
    </select>

    <update id="updCancel" parameterType="String">
        UPDATE
            yy_ls
        SET
            sfqx = '1'
        WHERE
            id = #{id}
    </update>

</mapper>