<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>404</title>
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <link rel="stylesheet" th:href="@{/css/404.css}">
</head>
<body>
    <div id="wrap">
        <div>
            <img th:src="@{/img/404.png}" alt="404" />
        </div>
        <div id="text">
            <strong>
                <span></span>
            </strong>
        </div>
    </div>

    <div class="animate below"></div>
    <div class="animate above"></div>
    <script th:src="@{/js/png.js}"></script>
</body>
</html>