<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qd.wxyy.web.query.OrderQueryRepository">
    <!-- 查询预约列表 -->
    <select id="getOrderList" parameterType="Map"  resultType="Map">
        SELECT
            id
            ,yyxm as uname
            ,yyid as uid
            ,yysjh as phone
            ,CASE
                WHEN yylx = '01' THEN '车管业务'
                ELSE '违法业务'
            END as type
            ,ywfl2 as businame
            ,CONCAT(
                left(yyrq,4), '-', substring(yyrq,5,2), '-', right(yyrq,2)
            ) as date
            ,CONCAT(
                left(yykssj, 2), ':', right(yykssj, 2)
            ) as starttime
            ,CONCAT(
                left(yyjssj, 2), ':', right(yyjssj, 2)
            ) as endtime
            ,CASE
                WHEN sfqx = '1' THEN '1'
                WHEN sfqh = '1' THEN '2'
                WHEN sfgq = '1' THEN '3'
            ELSE
              '0'
            END as status
        FROM
          yy_ls
        WHERE 1 = 1
            <if test="phone!=null and phone!=''">
                AND yysjh LIKE CONCAT('%',#{phone},'%')
            </if>
            <if test="date!=null and date!=''">
                AND yyrq = #{date}
            </if>
            <if test="starttime!=null and starttime!=''">
                AND yykssj &gt;= #{starttime}
            </if>
            <if test="endtime!=null and endtime!=''">
                AND yyjssj &lt;= #{endtime}
            </if>
            ORDER BY yyrq DESC, yykssj DESC
            LIMIT #{startindex}, #{pagesize}
    </select>

    <!-- 查询预约列表条数 -->
    <select id="getOrderListCnt" parameterType="Map" resultType="int">
        SELECT
          count(1) as cnt
        FROM
          yy_ls
        WHERE 1 = 1
            <if test="phone!=null and phone!=''">
                AND yysjh LIKE CONCAT('%',#{phone},'%')
            </if>
            <if test="date!=null and date!=''">
                AND yyrq = #{date}
            </if>
            <if test="starttime!=null and starttime!=''">
                AND yykssj &gt;= #{starttime}
            </if>
            <if test="endtime!=null and endtime!=''">
                AND yyjssj &lt;= #{endtime}
            </if>
    </select>
</mapper>